<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aisaacroth.courseworks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >

        <!-- AnnouncementView Activity -->
        <activity
            android:name="com.aisaacroth.courseworks.views.AnnouncementView"
            android:label="@string/title_activity_announcement_view"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <!-- Login activity -->
        <activity
            android:name="com.aisaacroth.courseworks.views.LoginView"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <!-- Main activity -->
        <activity
            android:name="com.aisaacroth.courseworks.views.Main"
            android:label="@string/app_name"
            android:theme="@style/ActionBarMain" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.aisaacroth.courseworks.SearchResultsActivity" />
        </activity>

        <!-- Splash Screen -->
        <activity
            android:name="com.aisaacroth.courseworks.views.SplashView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Expiration Timer Service -->
        <service android:name="com.aisaacroth.courseworks.utils.ExpirationTimer" >
        </service>

        <!-- HiddenWebView -->
        <activity
            android:name="com.aisaacroth.courseworks.views.HiddenWebView"
            android:label="@string/title_activity_hidden_web_view"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.aisaacroth.courseworks.views.CourseView"
            android:label="@string/title_activity_course_view" >
        </activity>
    </application>

</manifest>